<nav id="site-nav">
  <ul id="site-nav-list">
    <li class="site-nav-item">
      <a href="/" class="site-nav-link" ng-click="closeSiteNav()"><i id="site-nav-home-icon"></i>Home</a>
    </li>
    <li class="site-nav-item">
      <a href="/posts" class="site-nav-link" ng-click="closeSiteNav()"><i id="site-nav-posts-icon"></i>Posts</a>
    </li>
    <li class="site-nav-item">
      <a href="/monitor" class="site-nav-link" ng-click="closeSiteNav()"><i id="site-nav-monitor-icon"></i>Monitor</a>
    </li>
  </ul>
  <footer id="footer">
    Web UI <%= webui_version %> / Hexo <%= version %><br>
    <a href="http://zespia.tw/hexo/" target="_blank">Docs</a> / <a href="https://github.com/tommy351/hexo-webui" target="_blank">GitHub</a>
  </footer>
</nav>