// Colors
color-default = #555
color-grey = #999
color-border = #ddd
color-link = #258fb8
color-background = #fff

// Fonts
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 15px

// Layout
left-padding = 70px
right-padding = 20px

// Site Navigation
site-nav-width = 250px
site-nav-background = #222
header-height = 65px
action-bar-height = 35px

// List
list-icon-size = 32px
list-icon-image-color = #6887bd
list-icon-video-color = #5a44a5
list-icon-audio-color = #d84c1a
list-icon-code-color = #e1b827
list-hover-background = #f7f7f7
list-selected-background = #eee

// Buttons
btn-default-color = #999
btn-primary-color = #00a3ee
btn-success-color = #90d222
btn-danger-color = #fc196c
btn-border-radius = 3px
btn-font-size = font-size
btn-small-font-size = font-size * 0.8
btn-large-font-size = font-size * 1.2
btn-small-height = btn-small-font-size + 6 * 2
btn-normal-height = 30px
btn-large-height = btn-large-font-size + 10 * 2

// Form
form-focus-color = #66afe9
form-success-color = #3c763d
form-error-color = #a94442

// Modal
modal-width = 500px
modal-vertical-margin = 20px
modal-horizontal-margin = 15px

// Lightbox
lightbox-ctrl-height = 45px
lightbox-icon-size = 16px