html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
body {
  background: #fff;
  font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: auto;
}
.modal-back {
  position: fixed;
  background: #000;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-dialog {
  display: table;
  width: 100%;
  height: 100%;
}
.modal-content-wrap {
  display: table-cell;
  vertical-align: middle;
  padding: 20px 15px;
}
.modal-content {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  background: #fff;
  width: auto;
  max-width: 500px;
  margin: 0 auto;
  color: #555;
}
.modal-header {
  padding: 12px 30px;
  border-bottom: 1px solid #ddd;
}
.modal-title {
  font-weight: bold;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  line-height: 1em;
}
.modal-close-btn {
  font-style: normal;
  font-weight: normal;
  font-family: FontAwesome;
  color: #bbb;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.modal-close-btn:before {
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 18px;
  height: 18px;
  margin: auto;
  text-align: center;
  line-height: 1;
  content: "\f00d";
}
.modal-close-btn:hover {
  color: #888;
}
.modal-body {
  padding: 15px 20px;
  line-height: 1.6em;
}
.modal-footer {
  zoom: 1;
  margin-top: 20px;
}
.modal-footer:before,
.modal-footer:after {
  content: "";
  display: table;
}
.modal-footer:after {
  clear: both;
}
.btn-group {
  display: inline-block;
}
.btn {
  display: block;
  cursor: pointer;
  line-height: 1em;
  padding: 0 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  background: #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
}
.btn:hover {
  background: #adadad;
}
.btn:active {
  background: #8a8a8a;
}
.btn.disabled {
  pointer-events: none;
  color: #ccc;
}
.btn-group .btn {
  float: left;
}
.btn-group .btn:first-child:not(:last-child) {
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.btn-group .btn:last-child:not(:first-child) {
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.btn-group .btn:not(:first-child):not(:last-child) {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.btn i {
  position: relative;
  width: 15px;
  height: 15px;
  margin-top: 7.5px;
  margin-right: 8px;
  float: left;
  font-style: normal;
  font-weight: normal;
  font-family: FontAwesome;
}
.btn i:before {
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  margin: auto;
  text-align: center;
  line-height: 1;
}
.btn-small,
.btn-group-small .btn {
  font-size: 12px;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
}
.btn-small i,
.btn-group-small .btn i {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  margin-top: 6px;
}
.btn-small i:before,
.btn-group-small .btn i:before {
  width: 12px;
  height: 12px;
  font-size: 12px;
}
.btn-large,
.btn-group-large .btn {
  font-size: 18px;
  padding: 0 20px;
  height: 38px;
  line-height: 38px;
}
.btn-large i,
.btn-group-large .btn i {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-top: 10px;
}
.btn-large i:before,
.btn-group-large .btn i:before {
  width: 18px;
  height: 18px;
  font-size: 18px;
}
.btn-primary {
  background: #00a3ee;
}
.btn-primary:hover {
  background: #25baff;
}
.btn-primary:active {
  background: #0093d6;
}
.btn-primary.disabled {
  color: #77d4ff;
}
.btn-success {
  background: #90d222;
}
.btn-success:hover {
  background: #a8e148;
}
.btn-success:active {
  background: #82bd1f;
}
.btn-success.disabled {
  color: #c8ec8d;
}
.btn-danger {
  background: #fc196c;
}
.btn-danger:hover {
  background: #fd4789;
}
.btn-danger:active {
  background: #f6035c;
}
.btn-danger.disabled {
  color: #fe8cb5;
}
.form-group {
  margin-bottom: 15px;
}
.form-input {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #ddd;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  -ms-transition: border-color 0.2s;
  transition: border-color 0.2s;
  color: #555;
  outline: none;
  vertical-align: middle;
  height: 31px;
  line-height: 1.5em;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-input:focus {
  border-color: #66afe9;
}
.form-input.success {
  border-color: #3c763d;
}
.form-input.error {
  border-color: #a94442;
}
.form-input.disabled,
.form-input:disabled {
  background: #eee;
  cursor: not-allowed;
}
.form-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: auto;
  background: #000;
}
.lightbox-images {
  position: absolute;
  top: 45px;
  bottom: 45px;
  left: 0;
  right: 0;
}
.lightbox-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.lightbox-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
}
.lightbox-title {
  color: #999;
  line-height: 45px;
  position: absolute;
  top: 0;
  left: 15px;
  right: 60px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.lightbox-close-btn,
.lightbox-prev-btn,
.lightbox-next-btn,
.lightbox-link-btn,
.lightbox-download-btn {
  font-style: normal;
  font-weight: normal;
  font-family: FontAwesome;
  color: #fff;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  width: 45px;
  height: 45px;
  display: block;
  cursor: pointer;
  position: relative;
  float: left;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.lightbox-close-btn:before,
.lightbox-prev-btn:before,
.lightbox-next-btn:before,
.lightbox-link-btn:before,
.lightbox-download-btn:before {
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  margin: auto;
  text-align: center;
  line-height: 1;
}
.lightbox-close-btn:hover,
.lightbox-prev-btn:hover,
.lightbox-next-btn:hover,
.lightbox-link-btn:hover,
.lightbox-download-btn:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.lightbox-close-btn {
  float: right;
}
.lightbox-close-btn:before {
  content: "\f00d";
}
.lightbox-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.lightbox-paginator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 90px;
}
.lightbox-prev-btn:before {
  content: "\f053";
}
.lightbox-next-btn:before {
  content: "\f054";
}
.lightbox-footer-right {
  position: absolute;
  top: 0;
  right: 0;
}
.lightbox-link-btn:before {
  content: "\f0c1";
}
.lightbox-download-btn:before {
  content: "\f019";
}
html,
body {
  height: 100%;
  overflow: hidden;
}
#wrap {
  height: 100%;
  left: 0;
  -webkit-transition: left 0.2s;
  -moz-transition: left 0.2s;
  -o-transition: left 0.2s;
  -ms-transition: left 0.2s;
  transition: left 0.2s;
  position: relative;
  background: #fff;
  z-index: 1;
  -webkit-box-shadow: 0 0 15px #111;
  box-shadow: 0 0 15px #111;
}
.site-nav-on #wrap {
  left: 250px;
}
#wrap-inner {
  height: 100%;
}
#container {
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  position: relative;
  height: 100%;
}
.site-nav-on #container {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  pointer-events: none;
}
#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 100px 20px 0 70px;
}
#site-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #222;
}
#site-nav-toggle {
  width: 35px;
  height: 35px;
  color: #999;
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  font-style: normal;
  font-weight: normal;
  font-family: FontAwesome;
}
#site-nav-toggle:before {
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  margin: auto;
  text-align: center;
  line-height: 1;
  content: "\f0c9";
}
#site-nav-toggle:hover {
  color: #555;
}
#site-nav-list {
  margin-top: 8px;
}
.site-nav-link {
  display: block;
  color: #999;
  text-decoration: none;
  padding: 15px 20px 15px 50px;
  font-weight: bold;
  position: relative;
  line-height: 1;
}
.site-nav-link:hover {
  color: #ddd;
}
.site-nav-link i {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  margin: auto 0;
  width: 16px;
  height: 16px;
  font-style: normal;
  font-weight: normal;
  font-family: FontAwesome;
}
.site-nav-link i:before {
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  margin: auto;
  text-align: center;
  line-height: 1;
}
#site-nav-home-icon:before {
  content: "\f015";
}
#site-nav-posts-icon:before {
  content: "\f044";
}
#site-nav-monitor-icon:before {
  content: "\f0e4";
}
#footer {
  position: absolute;
  bottom: 10px;
  left: 15px;
  right: 15px;
  color: #999;
  font-size: 0.85em;
  line-height: 1.6em;
}
#footer a {
  color: #258fb8;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#header {
  position: absolute;
  top: 0;
  left: 70px;
  right: 20px;
  background: #fff;
  height: 65px;
  z-index: 1;
}
#title-bar {
  zoom: 1;
  padding: 15px 0;
  height: 35px;
}
#title-bar:before,
#title-bar:after {
  content: "";
  display: table;
}
#title-bar:after {
  clear: both;
}
#header-title,
.breadcrumb-link {
  color: #555;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 35px;
  font-size: 22px;
  float: left;
}
#section-nav {
  float: right;
}
#section-nav .btn-group {
  margin-top: 2px;
}
#action-bar {
  zoom: 1;
  border-bottom: 1px solid #ddd;
  height: 35px;
  position: absolute;
  top: 65px;
  left: 70px;
  right: 20px;
  background: #fff;
  z-index: 1;
}
#action-bar:before,
#action-bar:after {
  content: "";
  display: table;
}
#action-bar:after {
  clear: both;
}
.primary-sorter,
.minor-sorter {
  float: left;
  display: block;
  cursor: pointer;
}
.primary-sorter {
  width: 60%;
}
.minor-sorter {
  width: 20%;
}
.sorter-text {
  color: #999;
  font-size: 0.85em;
  line-height: 1;
  padding: 10px 0;
  display: block;
}
.breadcrumbs {
  float: left;
}
.breadcrumb-item {
  float: left;
}
.breadcrumb-link {
  text-decoration: none;
  color: #258fb8;
  display: block;
  float: left;
}
.breadcrumb-link.current {
  color: #555;
}
.breadcrumb-separator {
  color: #999;
  font-family: FontAwesome;
  font-size: 12px;
  float: left;
  width: 12px;
  height: 35px;
  line-height: 35px;
  margin: 0 10px;
}
.breadcrumb-separator:before {
  content: "\f054";
}
.list-item {
  zoom: 1;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.list-item:before,
.list-item:after {
  content: "";
  display: table;
}
.list-item:after {
  clear: both;
}
.list-item:hover {
  background: #f7f7f7;
}
.list-item.selected {
  background: #eee;
}
.list-primary-col,
.list-minor-col {
  float: left;
  color: #555;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.list-primary-col {
  width: 60%;
}
.list-minor-col {
  width: 20%;
}
.list-link {
  text-decoration: none;
  color: #555;
  padding-left: 10px;
}
.list-link:hover {
  text-decoration: underline;
}
.list-icon.image:after,
.list-icon.video:after,
.list-icon.audio:after,
.list-icon.code:after {
  font-size: 11px;
  position: absolute;
  top: 3px;
  left: 10px;
}
.list-icon {
  width: 32px;
  height: 32px;
  position: relative;
  float: left;
  display: block;
  color: #999;
  font-style: normal;
  font-weight: normal;
  font-family: FontAwesome;
}
.list-icon:before {
  font-size: 32px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 32px;
  margin: auto;
  text-align: center;
  line-height: 1;
  content: "\f016";
}
.list-icon.folder:before {
  content: "\f114";
}
.list-icon.text {
  color: #555;
}
.list-icon.text:before {
  content: "\f0f6";
}
.list-icon.image {
  color: #6887bd;
}
.list-icon.image:after {
  content: "\f03e";
}
.list-icon.video {
  color: #5a44a5;
}
.list-icon.video:after {
  content: "\f03d";
}
.list-icon.audio {
  color: #d84c1a;
}
.list-icon.audio:after {
  content: "\f001";
}
.list-icon.code {
  color: #e1b827;
}
.list-icon.code:after {
  content: "\f121";
}
.upload-icon:before {
  content: "\f093";
}
.new-folder-icon:before {
  content: "\f07b";
}
.CodeMirror {
  height: 100%;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.delete-icon:before {
  content: "\f014";
}
.preview-icon:before {
  content: "\f06e";
}
.download-icon:before {
  content: "\f019";
}
.save-icon:before {
  content: "\f0c7";
}
.new-post-icon:before {
  content: "\f044";
}
