.CodeMirror
  height: 100%
  font-family: font-mono

.delete-icon
  @extend $fa-icon-trash-o

.preview-icon
  @extend $fa-icon-eye

.download-icon
  @extend $fa-icon-download

.save-icon
  @extend $fa-icon-floppy-o