.CodeMirror
  height: 100%
  font-family: font-mono

.delete-icon
  &:before
    content: "\f014"

.preview-icon
  &:before
    content: "\f06e"

.download-icon
  &:before
    content: "\f019"

.save-icon
  &:before
    content: "\f0c7"