// Variables
fa-var-glass = "\f000"
fa-var-music = "\f001"
fa-var-search = "\f002"
fa-var-envelope-o = "\f003"
fa-var-heart = "\f004"
fa-var-star = "\f005"
fa-var-star-o = "\f006"
fa-var-user = "\f007"
fa-var-film = "\f008"
fa-var-th-large = "\f009"
fa-var-th = "\f00a"
fa-var-th-list = "\f00b"
fa-var-check = "\f00c"
fa-var-times = "\f00d"
fa-var-search-plus = "\f00e"
fa-var-search-minus = "\f010"
fa-var-power-off = "\f011"
fa-var-signal = "\f012"
fa-var-cog = "\f013"
fa-var-trash-o = "\f014"
fa-var-home = "\f015"
fa-var-file-o = "\f016"
fa-var-clock-o = "\f017"
fa-var-road = "\f018"
fa-var-download = "\f019"
fa-var-arrow-circle-o-down = "\f01a"
fa-var-arrow-circle-o-up = "\f01b"
fa-var-inbox = "\f01c"
fa-var-play-circle-o = "\f01d"
fa-var-repeat = "\f01e"
fa-var-refresh = "\f021"
fa-var-list-alt = "\f022"
fa-var-lock = "\f023"
fa-var-flag = "\f024"
fa-var-headphones = "\f025"
fa-var-volume-off = "\f026"
fa-var-volume-down = "\f027"
fa-var-volume-up = "\f028"
fa-var-qrcode = "\f029"
fa-var-barcode = "\f02a"
fa-var-tag = "\f02b"
fa-var-tags = "\f02c"
fa-var-book = "\f02d"
fa-var-bookmark = "\f02e"
fa-var-print = "\f02f"
fa-var-camera = "\f030"
fa-var-font = "\f031"
fa-var-bold = "\f032"
fa-var-italic = "\f033"
fa-var-text-height = "\f034"
fa-var-text-width = "\f035"
fa-var-align-left = "\f036"
fa-var-align-center = "\f037"
fa-var-align-right = "\f038"
fa-var-align-justify = "\f039"
fa-var-list = "\f03a"
fa-var-outdent = "\f03b"
fa-var-indent = "\f03c"
fa-var-video-camera = "\f03d"
fa-var-picture-o = "\f03e"
fa-var-pencil = "\f040"
fa-var-map-marker = "\f041"
fa-var-adjust = "\f042"
fa-var-tint = "\f043"
fa-var-pencil-square-o = "\f044"
fa-var-share-square-o = "\f045"
fa-var-check-square-o = "\f046"
fa-var-arrows = "\f047"
fa-var-step-backward = "\f048"
fa-var-fast-backward = "\f049"
fa-var-backward = "\f04a"
fa-var-play = "\f04b"
fa-var-pause = "\f04c"
fa-var-stop = "\f04d"
fa-var-forward = "\f04e"
fa-var-fast-forward = "\f050"
fa-var-step-forward = "\f051"
fa-var-eject = "\f052"
fa-var-chevron-left = "\f053"
fa-var-chevron-right = "\f054"
fa-var-plus-circle = "\f055"
fa-var-minus-circle = "\f056"
fa-var-times-circle = "\f057"
fa-var-check-circle = "\f058"
fa-var-question-circle = "\f059"
fa-var-info-circle = "\f05a"
fa-var-crosshairs = "\f05b"
fa-var-times-circle-o = "\f05c"
fa-var-check-circle-o = "\f05d"
fa-var-ban = "\f05e"
fa-var-arrow-left = "\f060"
fa-var-arrow-right = "\f061"
fa-var-arrow-up = "\f062"
fa-var-arrow-down = "\f063"
fa-var-share = "\f064"
fa-var-expand = "\f065"
fa-var-compress = "\f066"
fa-var-plus = "\f067"
fa-var-minus = "\f068"
fa-var-asterisk = "\f069"
fa-var-exclamation-circle = "\f06a"
fa-var-gift = "\f06b"
fa-var-leaf = "\f06c"
fa-var-fire = "\f06d"
fa-var-eye = "\f06e"
fa-var-eye-slash = "\f070"
fa-var-exclamation-triangle = "\f071"
fa-var-plane = "\f072"
fa-var-calendar = "\f073"
fa-var-random = "\f074"
fa-var-comment = "\f075"
fa-var-magnet = "\f076"
fa-var-chevron-up = "\f077"
fa-var-chevron-down = "\f078"
fa-var-retweet = "\f079"
fa-var-shopping-cart = "\f07a"
fa-var-folder = "\f07b"
fa-var-folder-open = "\f07c"
fa-var-arrows-v = "\f07d"
fa-var-arrows-h = "\f07e"
fa-var-bar-chart-o = "\f080"
fa-var-twitter-square = "\f081"
fa-var-facebook-square = "\f082"
fa-var-camera-retro = "\f083"
fa-var-key = "\f084"
fa-var-cogs = "\f085"
fa-var-comments = "\f086"
fa-var-thumbs-o-up = "\f087"
fa-var-thumbs-o-down = "\f088"
fa-var-star-half = "\f089"
fa-var-heart-o = "\f08a"
fa-var-sign-out = "\f08b"
fa-var-linkedin-square = "\f08c"
fa-var-thumb-tack = "\f08d"
fa-var-external-link = "\f08e"
fa-var-sign-in = "\f090"
fa-var-trophy = "\f091"
fa-var-github-square = "\f092"
fa-var-upload = "\f093"
fa-var-lemon-o = "\f094"
fa-var-phone = "\f095"
fa-var-square-o = "\f096"
fa-var-bookmark-o = "\f097"
fa-var-phone-square = "\f098"
fa-var-twitter = "\f099"
fa-var-facebook = "\f09a"
fa-var-github = "\f09b"
fa-var-unlock = "\f09c"
fa-var-credit-card = "\f09d"
fa-var-rss = "\f09e"
fa-var-hdd-o = "\f0a0"
fa-var-bullhorn = "\f0a1"
fa-var-bell = "\f0f3"
fa-var-certificate = "\f0a3"
fa-var-hand-o-right = "\f0a4"
fa-var-hand-o-left = "\f0a5"
fa-var-hand-o-up = "\f0a6"
fa-var-hand-o-down = "\f0a7"
fa-var-arrow-circle-left = "\f0a8"
fa-var-arrow-circle-right = "\f0a9"
fa-var-arrow-circle-up = "\f0aa"
fa-var-arrow-circle-down = "\f0ab"
fa-var-globe = "\f0ac"
fa-var-wrench = "\f0ad"
fa-var-tasks = "\f0ae"
fa-var-filter = "\f0b0"
fa-var-briefcase = "\f0b1"
fa-var-arrows-alt = "\f0b2"
fa-var-users = "\f0c0"
fa-var-link = "\f0c1"
fa-var-cloud = "\f0c2"
fa-var-flask = "\f0c3"
fa-var-scissors = "\f0c4"
fa-var-files-o = "\f0c5"
fa-var-paperclip = "\f0c6"
fa-var-floppy-o = "\f0c7"
fa-var-square = "\f0c8"
fa-var-bars = "\f0c9"
fa-var-list-ul = "\f0ca"
fa-var-list-ol = "\f0cb"
fa-var-strikethrough = "\f0cc"
fa-var-underline = "\f0cd"
fa-var-table = "\f0ce"
fa-var-magic = "\f0d0"
fa-var-truck = "\f0d1"
fa-var-pinterest = "\f0d2"
fa-var-pinterest-square = "\f0d3"
fa-var-google-plus-square = "\f0d4"
fa-var-google-plus = "\f0d5"
fa-var-money = "\f0d6"
fa-var-caret-down = "\f0d7"
fa-var-caret-up = "\f0d8"
fa-var-caret-left = "\f0d9"
fa-var-caret-right = "\f0da"
fa-var-columns = "\f0db"
fa-var-sort = "\f0dc"
fa-var-sort-asc = "\f0dd"
fa-var-sort-desc = "\f0de"
fa-var-envelope = "\f0e0"
fa-var-linkedin = "\f0e1"
fa-var-undo = "\f0e2"
fa-var-gavel = "\f0e3"
fa-var-tachometer = "\f0e4"
fa-var-comment-o = "\f0e5"
fa-var-comments-o = "\f0e6"
fa-var-bolt = "\f0e7"
fa-var-sitemap = "\f0e8"
fa-var-umbrella = "\f0e9"
fa-var-clipboard = "\f0ea"
fa-var-lightbulb-o = "\f0eb"
fa-var-exchange = "\f0ec"
fa-var-cloud-download = "\f0ed"
fa-var-cloud-upload = "\f0ee"
fa-var-user-md = "\f0f0"
fa-var-stethoscope = "\f0f1"
fa-var-suitcase = "\f0f2"
fa-var-bell-o = "\f0a2"
fa-var-coffee = "\f0f4"
fa-var-cutlery = "\f0f5"
fa-var-file-text-o = "\f0f6"
fa-var-building-o = "\f0f7"
fa-var-hospital-o = "\f0f8"
fa-var-ambulance = "\f0f9"
fa-var-medkit = "\f0fa"
fa-var-fighter-jet = "\f0fb"
fa-var-beer = "\f0fc"
fa-var-h-square = "\f0fd"
fa-var-plus-square = "\f0fe"
fa-var-angle-double-left = "\f100"
fa-var-angle-double-right = "\f101"
fa-var-angle-double-up = "\f102"
fa-var-angle-double-down = "\f103"
fa-var-angle-left = "\f104"
fa-var-angle-right = "\f105"
fa-var-angle-up = "\f106"
fa-var-angle-down = "\f107"
fa-var-desktop = "\f108"
fa-var-laptop = "\f109"
fa-var-tablet = "\f10a"
fa-var-mobile = "\f10b"
fa-var-circle-o = "\f10c"
fa-var-quote-left = "\f10d"
fa-var-quote-right = "\f10e"
fa-var-spinner = "\f110"
fa-var-circle = "\f111"
fa-var-reply = "\f112"
fa-var-github-alt = "\f113"
fa-var-folder-o = "\f114"
fa-var-folder-open-o = "\f115"
fa-var-smile-o = "\f118"
fa-var-frown-o = "\f119"
fa-var-meh-o = "\f11a"
fa-var-gamepad = "\f11b"
fa-var-keyboard-o = "\f11c"
fa-var-flag-o = "\f11d"
fa-var-flag-checkered = "\f11e"
fa-var-terminal = "\f120"
fa-var-code = "\f121"
fa-var-reply-all = "\f122"
fa-var-mail-reply-all = "\f122"
fa-var-star-half-o = "\f123"
fa-var-location-arrow = "\f124"
fa-var-crop = "\f125"
fa-var-code-fork = "\f126"
fa-var-chain-broken = "\f127"
fa-var-question = "\f128"
fa-var-info = "\f129"
fa-var-exclamation = "\f12a"
fa-var-superscript = "\f12b"
fa-var-subscript = "\f12c"
fa-var-eraser = "\f12d"
fa-var-puzzle-piece = "\f12e"
fa-var-microphone = "\f130"
fa-var-microphone-slash = "\f131"
fa-var-shield = "\f132"
fa-var-calendar-o = "\f133"
fa-var-fire-extinguisher = "\f134"
fa-var-rocket = "\f135"
fa-var-maxcdn = "\f136"
fa-var-chevron-circle-left = "\f137"
fa-var-chevron-circle-right = "\f138"
fa-var-chevron-circle-up = "\f139"
fa-var-chevron-circle-down = "\f13a"
fa-var-html5 = "\f13b"
fa-var-css3 = "\f13c"
fa-var-anchor = "\f13d"
fa-var-unlock-alt = "\f13e"
fa-var-bullseye = "\f140"
fa-var-ellipsis-h = "\f141"
fa-var-ellipsis-v = "\f142"
fa-var-rss-square = "\f143"
fa-var-play-circle = "\f144"
fa-var-ticket = "\f145"
fa-var-minus-square = "\f146"
fa-var-minus-square-o = "\f147"
fa-var-level-up = "\f148"
fa-var-level-down = "\f149"
fa-var-check-square = "\f14a"
fa-var-pencil-square = "\f14b"
fa-var-external-link-square = "\f14c"
fa-var-share-square = "\f14d"
fa-var-compass = "\f14e"
fa-var-caret-square-o-down = "\f150"
fa-var-caret-square-o-up = "\f151"
fa-var-caret-square-o-right = "\f152"
fa-var-eur = "\f153"
fa-var-gbp = "\f154"
fa-var-usd = "\f155"
fa-var-inr = "\f156"
fa-var-jpy = "\f157"
fa-var-rub = "\f158"
fa-var-krw = "\f159"
fa-var-btc = "\f15a"
fa-var-file = "\f15b"
fa-var-file-text = "\f15c"
fa-var-sort-alpha-asc = "\f15d"
fa-var-sort-alpha-desc = "\f15e"
fa-var-sort-amount-asc = "\f160"
fa-var-sort-amount-desc = "\f161"
fa-var-sort-numeric-asc = "\f162"
fa-var-sort-numeric-desc = "\f163"
fa-var-thumbs-up = "\f164"
fa-var-thumbs-down = "\f165"
fa-var-youtube-square = "\f166"
fa-var-youtube = "\f167"
fa-var-xing = "\f168"
fa-var-xing-square = "\f169"
fa-var-youtube-play = "\f16a"
fa-var-dropbox = "\f16b"
fa-var-stack-overflow = "\f16c"
fa-var-instagram = "\f16d"
fa-var-flickr = "\f16e"
fa-var-adn = "\f170"
fa-var-bitbucket = "\f171"
fa-var-bitbucket-square = "\f172"
fa-var-tumblr = "\f173"
fa-var-tumblr-square = "\f174"
fa-var-long-arrow-down = "\f175"
fa-var-long-arrow-up = "\f176"
fa-var-long-arrow-left = "\f177"
fa-var-long-arrow-right = "\f178"
fa-var-apple = "\f179"
fa-var-windows = "\f17a"
fa-var-android = "\f17b"
fa-var-linux = "\f17c"
fa-var-dribbble = "\f17d"
fa-var-skype = "\f17e"
fa-var-foursquare = "\f180"
fa-var-trello = "\f181"
fa-var-female = "\f182"
fa-var-male = "\f183"
fa-var-gittip = "\f184"
fa-var-sun-o = "\f185"
fa-var-moon-o = "\f186"
fa-var-archive = "\f187"
fa-var-bug = "\f188"
fa-var-vk = "\f189"
fa-var-weibo = "\f18a"
fa-var-renren = "\f18b"
fa-var-pagelines = "\f18c"
fa-var-stack-exchange = "\f18d"
fa-var-arrow-circle-o-right = "\f18e"
fa-var-arrow-circle-o-left = "\f190"
fa-var-caret-square-o-left = "\f191"
fa-var-dot-circle-o = "\f192"
fa-var-wheelchair = "\f193"
fa-var-vimeo-square = "\f194"
fa-var-try = "\f195"
fa-var-plus-square-o = "\f196"

// Extends
$fa-icon-glass
  &:before
    content: fa-var-glass
$fa-icon-music
  &:before
    content: fa-var-music
$fa-icon-search
  &:before
    content: fa-var-search
$fa-icon-envelope-o
  &:before
    content: fa-var-envelope-o
$fa-icon-heart
  &:before
    content: fa-var-heart
$fa-icon-star
  &:before
    content: fa-var-star
$fa-icon-star-o
  &:before
    content: fa-var-star-o
$fa-icon-user
  &:before
    content: fa-var-user
$fa-icon-film
  &:before
    content: fa-var-film
$fa-icon-th-large
  &:before
    content: fa-var-th-large
$fa-icon-th
  &:before
    content: fa-var-th
$fa-icon-th-list
  &:before
    content: fa-var-th-list
$fa-icon-check
  &:before
    content: fa-var-check
$fa-icon-times
  &:before
    content: fa-var-times
$fa-icon-search-plus
  &:before
    content: fa-var-search-plus
$fa-icon-search-minus
  &:before
    content: fa-var-search-minus
$fa-icon-power-off
  &:before
    content: fa-var-power-off
$fa-icon-signal
  &:before
    content: fa-var-signal
$fa-icon-cog
  &:before
    content: fa-var-cog
$fa-icon-trash-o
  &:before
    content: fa-var-trash-o
$fa-icon-home
  &:before
    content: fa-var-home
$fa-icon-file-o
  &:before
    content: fa-var-file-o
$fa-icon-clock-o
  &:before
    content: fa-var-clock-o
$fa-icon-road
  &:before
    content: fa-var-road
$fa-icon-download
  &:before
    content: fa-var-download
$fa-icon-arrow-circle-o-down
  &:before
    content: fa-var-arrow-circle-o-down
$fa-icon-arrow-circle-o-up
  &:before
    content: fa-var-arrow-circle-o-up
$fa-icon-inbox
  &:before
    content: fa-var-inbox
$fa-icon-play-circle-o
  &:before
    content: fa-var-play-circle-o
$fa-icon-repeat
  &:before
    content: fa-var-repeat
$fa-icon-refresh
  &:before
    content: fa-var-refresh
$fa-icon-list-alt
  &:before
    content: fa-var-list-alt
$fa-icon-lock
  &:before
    content: fa-var-lock
$fa-icon-flag
  &:before
    content: fa-var-flag
$fa-icon-headphones
  &:before
    content: fa-var-headphones
$fa-icon-volume-off
  &:before
    content: fa-var-volume-off
$fa-icon-volume-down
  &:before
    content: fa-var-volume-down
$fa-icon-volume-up
  &:before
    content: fa-var-volume-up
$fa-icon-qrcode
  &:before
    content: fa-var-qrcode
$fa-icon-barcode
  &:before
    content: fa-var-barcode
$fa-icon-tag
  &:before
    content: fa-var-tag
$fa-icon-tags
  &:before
    content: fa-var-tags
$fa-icon-book
  &:before
    content: fa-var-book
$fa-icon-bookmark
  &:before
    content: fa-var-bookmark
$fa-icon-print
  &:before
    content: fa-var-print
$fa-icon-camera
  &:before
    content: fa-var-camera
$fa-icon-font
  &:before
    content: fa-var-font
$fa-icon-bold
  &:before
    content: fa-var-bold
$fa-icon-italic
  &:before
    content: fa-var-italic
$fa-icon-text-height
  &:before
    content: fa-var-text-height
$fa-icon-text-width
  &:before
    content: fa-var-text-width
$fa-icon-align-left
  &:before
    content: fa-var-align-left
$fa-icon-align-center
  &:before
    content: fa-var-align-center
$fa-icon-align-right
  &:before
    content: fa-var-align-right
$fa-icon-align-justify
  &:before
    content: fa-var-align-justify
$fa-icon-list
  &:before
    content: fa-var-list
$fa-icon-outdent
  &:before
    content: fa-var-outdent
$fa-icon-indent
  &:before
    content: fa-var-indent
$fa-icon-video-camera
  &:before
    content: fa-var-video-camera
$fa-icon-picture-o
  &:before
    content: fa-var-picture-o
$fa-icon-pencil
  &:before
    content: fa-var-pencil
$fa-icon-map-marker
  &:before
    content: fa-var-map-marker
$fa-icon-adjust
  &:before
    content: fa-var-adjust
$fa-icon-tint
  &:before
    content: fa-var-tint
$fa-icon-pencil-square-o
  &:before
    content: fa-var-pencil-square-o
$fa-icon-share-square-o
  &:before
    content: fa-var-share-square-o
$fa-icon-check-square-o
  &:before
    content: fa-var-check-square-o
$fa-icon-arrows
  &:before
    content: fa-var-arrows
$fa-icon-step-backward
  &:before
    content: fa-var-step-backward
$fa-icon-fast-backward
  &:before
    content: fa-var-fast-backward
$fa-icon-backward
  &:before
    content: fa-var-backward
$fa-icon-play
  &:before
    content: fa-var-play
$fa-icon-pause
  &:before
    content: fa-var-pause
$fa-icon-stop
  &:before
    content: fa-var-stop
$fa-icon-forward
  &:before
    content: fa-var-forward
$fa-icon-fast-forward
  &:before
    content: fa-var-fast-forward
$fa-icon-step-forward
  &:before
    content: fa-var-step-forward
$fa-icon-eject
  &:before
    content: fa-var-eject
$fa-icon-chevron-left
  &:before
    content: fa-var-chevron-left
$fa-icon-chevron-right
  &:before
    content: fa-var-chevron-right
$fa-icon-plus-circle
  &:before
    content: fa-var-plus-circle
$fa-icon-minus-circle
  &:before
    content: fa-var-minus-circle
$fa-icon-times-circle
  &:before
    content: fa-var-times-circle
$fa-icon-check-circle
  &:before
    content: fa-var-check-circle
$fa-icon-question-circle
  &:before
    content: fa-var-question-circle
$fa-icon-info-circle
  &:before
    content: fa-var-info-circle
$fa-icon-crosshairs
  &:before
    content: fa-var-crosshairs
$fa-icon-times-circle-o
  &:before
    content: fa-var-times-circle-o
$fa-icon-check-circle-o
  &:before
    content: fa-var-check-circle-o
$fa-icon-ban
  &:before
    content: fa-var-ban
$fa-icon-arrow-left
  &:before
    content: fa-var-arrow-left
$fa-icon-arrow-right
  &:before
    content: fa-var-arrow-right
$fa-icon-arrow-up
  &:before
    content: fa-var-arrow-up
$fa-icon-arrow-down
  &:before
    content: fa-var-arrow-down
$fa-icon-share
  &:before
    content: fa-var-share
$fa-icon-expand
  &:before
    content: fa-var-expand
$fa-icon-compress
  &:before
    content: fa-var-compress
$fa-icon-plus
  &:before
    content: fa-var-plus
$fa-icon-minus
  &:before
    content: fa-var-minus
$fa-icon-asterisk
  &:before
    content: fa-var-asterisk
$fa-icon-exclamation-circle
  &:before
    content: fa-var-exclamation-circle
$fa-icon-gift
  &:before
    content: fa-var-gift
$fa-icon-leaf
  &:before
    content: fa-var-leaf
$fa-icon-fire
  &:before
    content: fa-var-fire
$fa-icon-eye
  &:before
    content: fa-var-eye
$fa-icon-eye-slash
  &:before
    content: fa-var-eye-slash
$fa-icon-exclamation-triangle
  &:before
    content: fa-var-exclamation-triangle
$fa-icon-plane
  &:before
    content: fa-var-plane
$fa-icon-calendar
  &:before
    content: fa-var-calendar
$fa-icon-random
  &:before
    content: fa-var-random
$fa-icon-comment
  &:before
    content: fa-var-comment
$fa-icon-magnet
  &:before
    content: fa-var-magnet
$fa-icon-chevron-up
  &:before
    content: fa-var-chevron-up
$fa-icon-chevron-down
  &:before
    content: fa-var-chevron-down
$fa-icon-retweet
  &:before
    content: fa-var-retweet
$fa-icon-shopping-cart
  &:before
    content: fa-var-shopping-cart
$fa-icon-folder
  &:before
    content: fa-var-folder
$fa-icon-folder-open
  &:before
    content: fa-var-folder-open
$fa-icon-arrows-v
  &:before
    content: fa-var-arrows-v
$fa-icon-arrows-h
  &:before
    content: fa-var-arrows-h
$fa-icon-bar-chart-o
  &:before
    content: fa-var-bar-chart-o
$fa-icon-twitter-square
  &:before
    content: fa-var-twitter-square
$fa-icon-facebook-square
  &:before
    content: fa-var-facebook-square
$fa-icon-camera-retro
  &:before
    content: fa-var-camera-retro
$fa-icon-key
  &:before
    content: fa-var-key
$fa-icon-cogs
  &:before
    content: fa-var-cogs
$fa-icon-comments
  &:before
    content: fa-var-comments
$fa-icon-thumbs-o-up
  &:before
    content: fa-var-thumbs-o-up
$fa-icon-thumbs-o-down
  &:before
    content: fa-var-thumbs-o-down
$fa-icon-star-half
  &:before
    content: fa-var-star-half
$fa-icon-heart-o
  &:before
    content: fa-var-heart-o
$fa-icon-sign-out
  &:before
    content: fa-var-sign-out
$fa-icon-linkedin-square
  &:before
    content: fa-var-linkedin-square
$fa-icon-thumb-tack
  &:before
    content: fa-var-thumb-tack
$fa-icon-external-link
  &:before
    content: fa-var-external-link
$fa-icon-sign-in
  &:before
    content: fa-var-sign-in
$fa-icon-trophy
  &:before
    content: fa-var-trophy
$fa-icon-github-square
  &:before
    content: fa-var-github-square
$fa-icon-upload
  &:before
    content: fa-var-upload
$fa-icon-lemon-o
  &:before
    content: fa-var-lemon-o
$fa-icon-phone
  &:before
    content: fa-var-phone
$fa-icon-square-o
  &:before
    content: fa-var-square-o
$fa-icon-bookmark-o
  &:before
    content: fa-var-bookmark-o
$fa-icon-phone-square
  &:before
    content: fa-var-phone-square
$fa-icon-twitter
  &:before
    content: fa-var-twitter
$fa-icon-facebook
  &:before
    content: fa-var-facebook
$fa-icon-github
  &:before
    content: fa-var-github
$fa-icon-unlock
  &:before
    content: fa-var-unlock
$fa-icon-credit-card
  &:before
    content: fa-var-credit-card
$fa-icon-rss
  &:before
    content: fa-var-rss
$fa-icon-hdd-o
  &:before
    content: fa-var-hdd-o
$fa-icon-bullhorn
  &:before
    content: fa-var-bullhorn
$fa-icon-bell
  &:before
    content: fa-var-bell
$fa-icon-certificate
  &:before
    content: fa-var-certificate
$fa-icon-hand-o-right
  &:before
    content: fa-var-hand-o-right
$fa-icon-hand-o-left
  &:before
    content: fa-var-hand-o-left
$fa-icon-hand-o-up
  &:before
    content: fa-var-hand-o-up
$fa-icon-hand-o-down
  &:before
    content: fa-var-hand-o-down
$fa-icon-arrow-circle-left
  &:before
    content: fa-var-arrow-circle-left
$fa-icon-arrow-circle-right
  &:before
    content: fa-var-arrow-circle-right
$fa-icon-arrow-circle-up
  &:before
    content: fa-var-arrow-circle-up
$fa-icon-arrow-circle-down
  &:before
    content: fa-var-arrow-circle-down
$fa-icon-globe
  &:before
    content: fa-var-globe
$fa-icon-wrench
  &:before
    content: fa-var-wrench
$fa-icon-tasks
  &:before
    content: fa-var-tasks
$fa-icon-filter
  &:before
    content: fa-var-filter
$fa-icon-briefcase
  &:before
    content: fa-var-briefcase
$fa-icon-arrows-alt
  &:before
    content: fa-var-arrows-alt
$fa-icon-users
  &:before
    content: fa-var-users
$fa-icon-link
  &:before
    content: fa-var-link
$fa-icon-cloud
  &:before
    content: fa-var-cloud
$fa-icon-flask
  &:before
    content: fa-var-flask
$fa-icon-scissors
  &:before
    content: fa-var-scissors
$fa-icon-files-o
  &:before
    content: fa-var-files-o
$fa-icon-paperclip
  &:before
    content: fa-var-paperclip
$fa-icon-floppy-o
  &:before
    content: fa-var-floppy-o
$fa-icon-square
  &:before
    content: fa-var-square
$fa-icon-bars
  &:before
    content: fa-var-bars
$fa-icon-list-ul
  &:before
    content: fa-var-list-ul
$fa-icon-list-ol
  &:before
    content: fa-var-list-ol
$fa-icon-strikethrough
  &:before
    content: fa-var-strikethrough
$fa-icon-underline
  &:before
    content: fa-var-underline
$fa-icon-table
  &:before
    content: fa-var-table
$fa-icon-magic
  &:before
    content: fa-var-magic
$fa-icon-truck
  &:before
    content: fa-var-truck
$fa-icon-pinterest
  &:before
    content: fa-var-pinterest
$fa-icon-pinterest-square
  &:before
    content: fa-var-pinterest-square
$fa-icon-google-plus-square
  &:before
    content: fa-var-google-plus-square
$fa-icon-google-plus
  &:before
    content: fa-var-google-plus
$fa-icon-money
  &:before
    content: fa-var-money
$fa-icon-caret-down
  &:before
    content: fa-var-caret-down
$fa-icon-caret-up
  &:before
    content: fa-var-caret-up
$fa-icon-caret-left
  &:before
    content: fa-var-caret-left
$fa-icon-caret-right
  &:before
    content: fa-var-caret-right
$fa-icon-columns
  &:before
    content: fa-var-columns
$fa-icon-sort
  &:before
    content: fa-var-sort
$fa-icon-sort-asc
  &:before
    content: fa-var-sort-asc
$fa-icon-sort-desc
  &:before
    content: fa-var-sort-desc
$fa-icon-envelope
  &:before
    content: fa-var-envelope
$fa-icon-linkedin
  &:before
    content: fa-var-linkedin
$fa-icon-undo
  &:before
    content: fa-var-undo
$fa-icon-gavel
  &:before
    content: fa-var-gavel
$fa-icon-tachometer
  &:before
    content: fa-var-tachometer
$fa-icon-comment-o
  &:before
    content: fa-var-comment-o
$fa-icon-comments-o
  &:before
    content: fa-var-comments-o
$fa-icon-bolt
  &:before
    content: fa-var-bolt
$fa-icon-sitemap
  &:before
    content: fa-var-sitemap
$fa-icon-umbrella
  &:before
    content: fa-var-umbrella
$fa-icon-clipboard
  &:before
    content: fa-var-clipboard
$fa-icon-lightbulb-o
  &:before
    content: fa-var-lightbulb-o
$fa-icon-exchange
  &:before
    content: fa-var-exchange
$fa-icon-cloud-download
  &:before
    content: fa-var-cloud-download
$fa-icon-cloud-upload
  &:before
    content: fa-var-cloud-upload
$fa-icon-user-md
  &:before
    content: fa-var-user-md
$fa-icon-stethoscope
  &:before
    content: fa-var-stethoscope
$fa-icon-suitcase
  &:before
    content: fa-var-suitcase
$fa-icon-bell-o
  &:before
    content: fa-var-bell-o
$fa-icon-coffee
  &:before
    content: fa-var-coffee
$fa-icon-cutlery
  &:before
    content: fa-var-cutlery
$fa-icon-file-text-o
  &:before
    content: fa-var-file-text-o
$fa-icon-building-o
  &:before
    content: fa-var-building-o
$fa-icon-hospital-o
  &:before
    content: fa-var-hospital-o
$fa-icon-ambulance
  &:before
    content: fa-var-ambulance
$fa-icon-medkit
  &:before
    content: fa-var-medkit
$fa-icon-fighter-jet
  &:before
    content: fa-var-fighter-jet
$fa-icon-beer
  &:before
    content: fa-var-beer
$fa-icon-h-square
  &:before
    content: fa-var-h-square
$fa-icon-plus-square
  &:before
    content: fa-var-plus-square
$fa-icon-angle-double-left
  &:before
    content: fa-var-angle-double-left
$fa-icon-angle-double-right
  &:before
    content: fa-var-angle-double-right
$fa-icon-angle-double-up
  &:before
    content: fa-var-angle-double-up
$fa-icon-angle-double-down
  &:before
    content: fa-var-angle-double-down
$fa-icon-angle-left
  &:before
    content: fa-var-angle-left
$fa-icon-angle-right
  &:before
    content: fa-var-angle-right
$fa-icon-angle-up
  &:before
    content: fa-var-angle-up
$fa-icon-angle-down
  &:before
    content: fa-var-angle-down
$fa-icon-desktop
  &:before
    content: fa-var-desktop
$fa-icon-laptop
  &:before
    content: fa-var-laptop
$fa-icon-tablet
  &:before
    content: fa-var-tablet
$fa-icon-mobile
  &:before
    content: fa-var-mobile
$fa-icon-circle-o
  &:before
    content: fa-var-circle-o
$fa-icon-quote-left
  &:before
    content: fa-var-quote-left
$fa-icon-quote-right
  &:before
    content: fa-var-quote-right
$fa-icon-spinner
  &:before
    content: fa-var-spinner
$fa-icon-circle
  &:before
    content: fa-var-circle
$fa-icon-reply
  &:before
    content: fa-var-reply
$fa-icon-github-alt
  &:before
    content: fa-var-github-alt
$fa-icon-folder-o
  &:before
    content: fa-var-folder-o
$fa-icon-folder-open-o
  &:before
    content: fa-var-folder-open-o
$fa-icon-smile-o
  &:before
    content: fa-var-smile-o
$fa-icon-frown-o
  &:before
    content: fa-var-frown-o
$fa-icon-meh-o
  &:before
    content: fa-var-meh-o
$fa-icon-gamepad
  &:before
    content: fa-var-gamepad
$fa-icon-keyboard-o
  &:before
    content: fa-var-keyboard-o
$fa-icon-flag-o
  &:before
    content: fa-var-flag-o
$fa-icon-flag-checkered
  &:before
    content: fa-var-flag-checkered
$fa-icon-terminal
  &:before
    content: fa-var-terminal
$fa-icon-code
  &:before
    content: fa-var-code
$fa-icon-reply-all
  &:before
    content: fa-var-reply-all
$fa-icon-mail-reply-all
  &:before
    content: fa-var-mail-reply-all
$fa-icon-star-half-o
  &:before
    content: fa-var-star-half-o
$fa-icon-location-arrow
  &:before
    content: fa-var-location-arrow
$fa-icon-crop
  &:before
    content: fa-var-crop
$fa-icon-code-fork
  &:before
    content: fa-var-code-fork
$fa-icon-chain-broken
  &:before
    content: fa-var-chain-broken
$fa-icon-question
  &:before
    content: fa-var-question
$fa-icon-info
  &:before
    content: fa-var-info
$fa-icon-exclamation
  &:before
    content: fa-var-exclamation
$fa-icon-superscript
  &:before
    content: fa-var-superscript
$fa-icon-subscript
  &:before
    content: fa-var-subscript
$fa-icon-eraser
  &:before
    content: fa-var-eraser
$fa-icon-puzzle-piece
  &:before
    content: fa-var-puzzle-piece
$fa-icon-microphone
  &:before
    content: fa-var-microphone
$fa-icon-microphone-slash
  &:before
    content: fa-var-microphone-slash
$fa-icon-shield
  &:before
    content: fa-var-shield
$fa-icon-calendar-o
  &:before
    content: fa-var-calendar-o
$fa-icon-fire-extinguisher
  &:before
    content: fa-var-fire-extinguisher
$fa-icon-rocket
  &:before
    content: fa-var-rocket
$fa-icon-maxcdn
  &:before
    content: fa-var-maxcdn
$fa-icon-chevron-circle-left
  &:before
    content: fa-var-chevron-circle-left
$fa-icon-chevron-circle-right
  &:before
    content: fa-var-chevron-circle-right
$fa-icon-chevron-circle-up
  &:before
    content: fa-var-chevron-circle-up
$fa-icon-chevron-circle-down
  &:before
    content: fa-var-chevron-circle-down
$fa-icon-html5
  &:before
    content: fa-var-html5
$fa-icon-css3
  &:before
    content: fa-var-css3
$fa-icon-anchor
  &:before
    content: fa-var-anchor
$fa-icon-unlock-alt
  &:before
    content: fa-var-unlock-alt
$fa-icon-bullseye
  &:before
    content: fa-var-bullseye
$fa-icon-ellipsis-h
  &:before
    content: fa-var-ellipsis-h
$fa-icon-ellipsis-v
  &:before
    content: fa-var-ellipsis-v
$fa-icon-rss-square
  &:before
    content: fa-var-rss-square
$fa-icon-play-circle
  &:before
    content: fa-var-play-circle
$fa-icon-ticket
  &:before
    content: fa-var-ticket
$fa-icon-minus-square
  &:before
    content: fa-var-minus-square
$fa-icon-minus-square-o
  &:before
    content: fa-var-minus-square-o
$fa-icon-level-up
  &:before
    content: fa-var-level-up
$fa-icon-level-down
  &:before
    content: fa-var-level-down
$fa-icon-check-square
  &:before
    content: fa-var-check-square
$fa-icon-pencil-square
  &:before
    content: fa-var-pencil-square
$fa-icon-external-link-square
  &:before
    content: fa-var-external-link-square
$fa-icon-share-square
  &:before
    content: fa-var-share-square
$fa-icon-compass
  &:before
    content: fa-var-compass
$fa-icon-caret-square-o-down
  &:before
    content: fa-var-caret-square-o-down
$fa-icon-caret-square-o-up
  &:before
    content: fa-var-caret-square-o-up
$fa-icon-caret-square-o-right
  &:before
    content: fa-var-caret-square-o-right
$fa-icon-eur
  &:before
    content: fa-var-eur
$fa-icon-gbp
  &:before
    content: fa-var-gbp
$fa-icon-usd
  &:before
    content: fa-var-usd
$fa-icon-inr
  &:before
    content: fa-var-inr
$fa-icon-jpy
  &:before
    content: fa-var-jpy
$fa-icon-rub
  &:before
    content: fa-var-rub
$fa-icon-krw
  &:before
    content: fa-var-krw
$fa-icon-btc
  &:before
    content: fa-var-btc
$fa-icon-file
  &:before
    content: fa-var-file
$fa-icon-file-text
  &:before
    content: fa-var-file-text
$fa-icon-sort-alpha-asc
  &:before
    content: fa-var-sort-alpha-asc
$fa-icon-sort-alpha-desc
  &:before
    content: fa-var-sort-alpha-desc
$fa-icon-sort-amount-asc
  &:before
    content: fa-var-sort-amount-asc
$fa-icon-sort-amount-desc
  &:before
    content: fa-var-sort-amount-desc
$fa-icon-sort-numeric-asc
  &:before
    content: fa-var-sort-numeric-asc
$fa-icon-sort-numeric-desc
  &:before
    content: fa-var-sort-numeric-desc
$fa-icon-thumbs-up
  &:before
    content: fa-var-thumbs-up
$fa-icon-thumbs-down
  &:before
    content: fa-var-thumbs-down
$fa-icon-youtube-square
  &:before
    content: fa-var-youtube-square
$fa-icon-youtube
  &:before
    content: fa-var-youtube
$fa-icon-xing
  &:before
    content: fa-var-xing
$fa-icon-xing-square
  &:before
    content: fa-var-xing-square
$fa-icon-youtube-play
  &:before
    content: fa-var-youtube-play
$fa-icon-dropbox
  &:before
    content: fa-var-dropbox
$fa-icon-stack-overflow
  &:before
    content: fa-var-stack-overflow
$fa-icon-instagram
  &:before
    content: fa-var-instagram
$fa-icon-flickr
  &:before
    content: fa-var-flickr
$fa-icon-adn
  &:before
    content: fa-var-adn
$fa-icon-bitbucket
  &:before
    content: fa-var-bitbucket
$fa-icon-bitbucket-square
  &:before
    content: fa-var-bitbucket-square
$fa-icon-tumblr
  &:before
    content: fa-var-tumblr
$fa-icon-tumblr-square
  &:before
    content: fa-var-tumblr-square
$fa-icon-long-arrow-down
  &:before
    content: fa-var-long-arrow-down
$fa-icon-long-arrow-up
  &:before
    content: fa-var-long-arrow-up
$fa-icon-long-arrow-left
  &:before
    content: fa-var-long-arrow-left
$fa-icon-long-arrow-right
  &:before
    content: fa-var-long-arrow-right
$fa-icon-apple
  &:before
    content: fa-var-apple
$fa-icon-windows
  &:before
    content: fa-var-windows
$fa-icon-android
  &:before
    content: fa-var-android
$fa-icon-linux
  &:before
    content: fa-var-linux
$fa-icon-dribbble
  &:before
    content: fa-var-dribbble
$fa-icon-skype
  &:before
    content: fa-var-skype
$fa-icon-foursquare
  &:before
    content: fa-var-foursquare
$fa-icon-trello
  &:before
    content: fa-var-trello
$fa-icon-female
  &:before
    content: fa-var-female
$fa-icon-male
  &:before
    content: fa-var-male
$fa-icon-gittip
  &:before
    content: fa-var-gittip
$fa-icon-sun-o
  &:before
    content: fa-var-sun-o
$fa-icon-moon-o
  &:before
    content: fa-var-moon-o
$fa-icon-archive
  &:before
    content: fa-var-archive
$fa-icon-bug
  &:before
    content: fa-var-bug
$fa-icon-vk
  &:before
    content: fa-var-vk
$fa-icon-weibo
  &:before
    content: fa-var-weibo
$fa-icon-renren
  &:before
    content: fa-var-renren
$fa-icon-pagelines
  &:before
    content: fa-var-pagelines
$fa-icon-stack-exchange
  &:before
    content: fa-var-stack-exchange
$fa-icon-arrow-circle-o-right
  &:before
    content: fa-var-arrow-circle-o-right
$fa-icon-arrow-circle-o-left
  &:before
    content: fa-var-arrow-circle-o-left
$fa-icon-caret-square-o-left
  &:before
    content: fa-var-caret-square-o-left
$fa-icon-dot-circle-o
  &:before
    content: fa-var-dot-circle-o
$fa-icon-wheelchair
  &:before
    content: fa-var-wheelchair
$fa-icon-vimeo-square
  &:before
    content: fa-var-vimeo-square
$fa-icon-try
  &:before
    content: fa-var-try
$fa-icon-plus-square-o
  &:before
    content: fa-var-plus-square-o