.modal
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 9999
  overflow: auto

.modal-back
  position: fixed
  background: #000
  opacity: 0.7
  top: 0
  left: 0
  right: 0
  bottom: 0

.modal-dialog
  display: table
  width: 100%
  height: 100%

.modal-content-wrap
  display: table-cell
  vertical-align: middle
  padding: modal-vertical-margin modal-horizontal-margin

.modal-content
  border-radius: 4px
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
  position: relative
  background: #fff
  width: auto
  max-width: modal-width
  margin: 0 auto
  color: color-default

.modal-header
  padding: 12px 30px
  border-bottom: 1px solid color-border

.modal-title
  font-weight: bold
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  text-align: center
  line-height: 1em

.modal-close-btn
  icon("\f00d", 18px)
  color: #bbb
  width: 38px
  height: 38px
  position: absolute
  top: 0
  right: 0
  cursor: pointer
  &:hover
    color: #888

.modal-body
  padding: 15px 20px
  line-height: 1.6em

.modal-footer
  clearfix()
  margin-top: 20px