<header id="header">
  <div id="title-bar">
    <breadcrumb path="path" default-text="Home" default-path="" url="/list/%s" max-level="3"></breadcrumb>
    <nav id="section-nav">
      <div class="btn-group">
        <a class="btn btn-primary"><i class="upload-icon"></i>Upload</a>
        <a class="btn btn-primary" ng-click="newFolder()"><i class="new-folder-icon"></i>New Folder</a>
      </div>
    </nav>
  </div>
</header>
<nav id="action-bar">
  <a class="primary-sorter">
    <span class="sorter-text">Name</span>
  </a>
  <a class="minor-sorter">
    <span class="sorter-text">Type</span>
  </a>
  <a class="minor-sorter">
    <span class="sorter-text">Updated</span>
  </a>
</nav>
<div id="main">
  <list data="files" resolve="{show: show, dblclick: dblclick}">
    <div ng-dblclick="dblclick(item)">
      <div class="list-primary-col">
        <a href="{{ item.link }}" class="list-link" ng-click="show($event, item)"><i class="list-icon {{ item.iconClass }}"></i>{{ item.name }}</a>
      </div>
      <div class="list-minor-col">{{ item.type | filetype }}</div>
      <div class="list-minor-col">{{ item.updated | date }}</div>
    </div>
  </list>
</div>