<modal modal-title="New Folder">
  <form class="form" name="form" ng-submit="create()" novalidate>
    <div class="form-group">
      <label for="new-folder" class="form-label">Name</label>
      <input type="text" name="name" class="form-input" id="new-folder" ng-model="name" required ng-class="{error: isSubmitted && form.name.$invalid}">
    </div>
    <footer class="modal-footer">
      <div class="btn-group right">
        <input type="submit" class="btn btn-success" value="Create">
      </div>
      <div class="btn-group left">
        <a class="btn" ng-click="cancel()">Cancel</a>
      </div>
    </footer>
  </form>
</modal>